header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #8b5e3c; /* Representa el logotipo */
    margin-right: 10px;
  }
  
  .site-name {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #11999e;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #11999e;
    font-family: 'Poppins', sans-serif;
  }
  
  .nav-links a:hover {
    color: #8b5e3c; /* Color hover */
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #11999e;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: #f1f1f1;
      padding: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .menu-icon {
      display: block;
    }
  
    .logo {
      justify-content: center;
      width: 100%;
    }
}


/* Hero Section */
.hero {
    position: relative; /* Asegura que los elementos hijos se posicionen relativos a este contenedor */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh; /* La sección ocupará el 90% de la pantalla */
    padding: 20px;
    overflow: hidden; /* Asegura que no haya contenido que sobresalga */
  }
  
  .hero-content {
    flex: 1;
    display: block;
    max-width: 50%; /* Ajuste del texto a 50% del ancho */
    text-align: left;
    z-index: 2; /* Asegura que el contenido esté por encima de la imagen */
  }
  
  .hero-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #11999e;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 30px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 5px 24px;
    font-size: 1rem;
    color: #11999e;
    background-color: white;
    border: 2px solid #11999e;
    text-decoration: none;
    border-radius: 5px;
    height: 30px; /* Fijar la altura a 30px */
    line-height: 30px; /* Alineación vertical del texto */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #8b5e3c;
    color: white;
    border-color: #8b5e3c;
  }
  
  .hero-image {
    flex: 1; /* Asegura que ocupe el 50% del ancho restante */
    background-image: url('../assets/images/project-management-image.jpg'); /* Imagen relacionada a la gestión de proyectos */
    background-size: cover;
    background-position: center;
    height: 100%; /* Ajusta la altura */
    width: 50vw; /* Asegura que la imagen ocupe el 50% del ancho */
    z-index: 1;
    border-radius: 12px;
  }
  
  /* Responsive Mobile Version */
  @media (max-width: 768px) {
    .hero {
      position: relative;
      height: 90vh;
      flex-direction: column;
      justify-content: center;
    }
  
    .hero-content {
      position: relative;
      z-index: 2;
      text-align: left;
      max-width: 90%;
      padding: 20px;
    }
  
    .hero-content h1 {
      font-size: 2.5rem;
      color: white;
    }
  
    .hero-content p {
      font-size: 1.2rem;
      color: white;
    }
  
    .cta-button {
      font-size: 1rem;
      width: auto;
    }
  
    .hero-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('assets/images/project-management-image.jpg'); /* Imagen como fondo en mobile */
      background-size: cover;
      background-position: center;
      z-index: 0;
      width: 100%;
    }
  
    /* Máscara negra */
    .hero::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* Máscara negra para opacar la imagen en mobile */
      z-index: 1; /* Asegura que la máscara esté sobre la imagen pero debajo del contenido */
    }
  }
